@font-face {
  font-family: 'Helvetica';
  src: url('/assets/Helvetica-01.ttf') format('truetype');
}

html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}
/* 
#player {
  position: absolute;     
  top: 0;                  
  right: 0;                
  width: 50vw;             
  height: 100vh;           
  z-index: 10;             
} */

#video {
  position: absolute;
  top: 0;
  right: 0;
  width: 50vw;
  height: 100vh;
  z-index: 10;
  background-color: black;
}

#sketch {
  position: absolute;
  top: 0px;
  left: 0;
  width: 50vw;
  height: 100vh;
  z-index: 9;
}

button {
  font-family: 'Helvetica', sans-serif;
}